@model IEnumerable<CasoPractico2_PrograAvanzada.Models.Categoria>

@{
    ViewData["Title"] = "Listado de Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorías</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nueva</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoriaId">Ver</a> |
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>